{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="ww" class="container">
    <h3>BCD 7 SEGMETNI PRETPAVARAČ</h3>
    <div class="row">

        <div class="col-sm-6 centered">
            <img src="/static/img/gif/BCD.gif" class="tut-image" />
            <br /><br />
        </div>

        <div class="col-sm-6 centered">
            <p>BCD 7 segmetni pretvarač ima 4 ulaza i 7 izlaza. Njegovih 7 signala izlaza su strogo definirani
			i možeš ih vidjeti u donjoj tablici
			</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 centered">
            <p>Ukoliko pogledaš na sliku iznad, vidjet ćeš da smo na izlaz BCD 7 segmentog pretvarača spojili 
			7 segmenti displej. Svrha ovog pretvarača je upravo u tome, pretvoriti niz signala u niz signala koji će 
			pokazati na 7 segmetnom displeju upravo onaj broj koji čini ulazni signal. Ukoliko se još nisi upoznao sam
			7 segmetnim displejom klikni <a href="/tutorial/lesson/7SEG">ovdje</a>
            </p>
        </div>

        <div class="col-sm-5 col-sm-offset-1">
            <table class="table table-bordered tut-image centered">
                <thead>
                    <tr>
                        <th class="text-center">UA</th>
                        <th class="text-center">UB</th>
						<th class="text-center">UC</th>
						<th class="text-center">UD</th>
						<th class="text-center">BROJ</th>
                        <th class="text-center">IA</th>
						<th class="text-center">IB</th>
						<th class="text-center">IC</th>
						<th class="text-center">ID</th>
						<th class="text-center">UE</th>
						<th class="text-center">UF</th>
						<th class="text-center">UG</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="red"><b>0</b></td>
                        <td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
						<td ><b>0</b></td>

                        <td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
                    </tr>
					<tr>
                        <td class="red"><b>0</b></td>
                        <td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
						<td ><b>1</b></td>

                        <td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
                    </tr>
					
					<tr>
                        <td class="red"><b>0</b></td>
                        <td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
						<td ><b>2</b></td>

                        <td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
                    </tr>
					
					<tr>
                        <td class="red"><b>0</b></td>
                        <td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td ><b>3</b></td>

                        <td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
                    </tr>
					
					<tr>
                        <td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
						<td ><b>4</b></td>

                        <td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
                    </tr>
					
					<tr>
                        <td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
						<td ><b>5</b></td>

                        <td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
                    </tr>
					
					<tr>
                        <td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
						<td ><b>6</b></td>

                        <td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
                    </tr>
					
					<tr>
                        <td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td ><b>7</b></td>

                        <td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
                    </tr>
					
					<tr>
                        <td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
						<td ><b>8</b></td>

                        <td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
                    </tr>
					
					<tr>
                        <td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
						<td ><b>9</b></td>

                        <td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
	

</div>

{% endblock %}