{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="ww" class="container">
    <h3>IZVOR TAKTA</h3>
    <div class="row">

        <div class="col-sm-6 centered">
            <img src="/static/img/gif/clock.gif" class="tut-image" />
            <br /><br />
        </div>

        <div class="col-sm-6 centered">
            <p>Izvor takta ima izlaz. Taj izlaz se stalno izmjenjuje kao što vidiš na slici pokraj. 
			Ovakve sklopove se koriste kada trebamo promjene u vremenu. Brzina promjene stanja(crveno, zeleno)
			u ovom simulatoru nije definirana, ali ipak postoji 5 različitih iznosa frekvencija koje pritiskom na
            gumb možeš birati</p>
        </div>
    </div>


</div>

{% endblock %}