{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="ww" class="container">
    <h3>D BISTABIL</h3>
    <div class="row">

        <div class="col-sm-6 centered">
            <img src="/static/img/gif/d_flip_flop.gif" class="tut-image" />
            <br /><br />
        </div>
    </div>
	
	

    <div class="row">
        <div class="col-sm-6 centered">
            <p>D bistabil mijenja stanje u određenom trenutku signala takta (konkretno u ovom simulatoru je implementiran D bistabil koji mijenja stanje na rastući brid takta, odnosno kada signal takta prelazi iz 0 u 1). Vrijednost na ulazu D se preslikava na izlaz Q na rastući brid takta, a u ostalim trenutcima izlaz ostaje nepromijenjen. Može se reći da on "pamti" podatak s ulaza, stoga se D bistabil najčešće koristi za pohranu podataka (registri) ili za kašnjenje (po čemu je dobio ime, "<b>D</b>elay" - kašnjenje, "<b>D</b>ata" - podatak).
            </p>
        </div>

        <div class="col-sm-3 col-sm-offset-1">
            <table class="table table-bordered tut-image centered">
                <thead>
                    <tr>
                        <th class="text-center">D</th>
                        <th class="text-center">Q<sup>n+1</sup></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="red"><b>0</b></td>
                        <td class="red"><b>0</b></td>
                    </tr>

                    <tr>
                        <td class="green"><b>1</b></td>
                        <td class="green"><b>1</b></td>
                    </tr>

                </tbody>

            </table>
        </div>

    </div>
   
    <hr>

    <div class="row">
        <div class="col-sm-6 centered">
            <p> 
            Na animaciji desno možemo vidjeti jednu od češćih primjena D bistabila, djelilo frekvencije. Signal takta koji dovedemo na ulaz Clk, preslikava se na izlaz Q s dvostruko manjom frekvencijom.
            </p>
        </div>
        <div class="col-sm-6 centered">
            <img src="/static/img/gif/freq_div.gif" class="tut-image" />
            <br /><br />
        </div>

        <hr>
        <div class="col-sm-6 centered">
            <p> 
            Na sljedećoj animaciji možemo vidjeti posmačni registar. Na ulaz Q serijski dovodimo podatke, koje zatim signalom takta
            paralelno pomičemo u desno. Na ovom primjeru jasno možemo vidjeti primjenu činjenice da D bistabil "pamti" podatak.
            </p>
        </div>
        <div class="col-sm-6 centered">
            <img src="/static/img/gif/shift_register.gif" class="tut-image" />
            <br /><br />
        </div>
    </div>
</div>

{% endblock %}