{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="ww" class="container">
    <h3>PUNO ZBRAJALO</h3>
    <br /><br/>
    <div class="row">

        <div class="col-sm-6 centered">
            <img src="/static/img/gif/fa.gif" class="tut-image" />
            <br /><br />
        </div>

        <div class="col-sm-6 centered">
            <p>Puno zbrajalo (Full Adder - FA) je logički sklop koji na ulazu ima tri signala; dva koji predstavljaju binarne
                znamenke i jedan koji predstavlja prijenos, a na izlazu producira njihov zbroj uz prijenos.
                 Prijenos se dalje propagira i može sudjelovati u operaciji zbrajanja na značajnijem mjestu.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 centered">
            <p>
                Primjetimo da puno zbrajalo na ulazu za razliku od poluzbrajala prima prijenos moguće prethodne operacije zbrajanja.
                 Iz tog razloga ga nazivamo <b>puno</b> zbrajalo.
            </p>
        </div>

        <div class="col-sm-5 col-sm-offset-1">
            <table class="table table-bordered tut-image centered">
                <thead>
                    <tr>
                        <th class="text-center">Ci
                            <span>(prethodni prijenos)</span>
                        </th>
                        <th class="text-center">A
                            <span style="white-space: nowrap;">(prvi broj)</span>
                        </th>
                        <th class="text-center nwrp">B
                            <span style="white-space: nowrap;">(drugi broj)</span>
                        </th>
                        <th class="text-center nwrp">ZBROJ</th>
                        <th class="text-center nwrp">S
                            <span style="white-space: nowrap;">(zbroj)</span>
                        </th>
                        <th class="text-center nwrp">Co
                            <span style="white-space: nowrap;">(prijenos)</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="red"><b>0</b></td>
                        <td class="red"><b>0</b></td>
                        <td class="red"><b>0</b></td>

                        <td><b>0</b></td>

                        <td class="red"><b>0</b></td>
                        <td class="red"><b>0</b></td>
                    </tr>

                    <tr>
                        <td class="red"><b>0</b></td>
                        <td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>

                        <td><b>1</b></td>

                        <td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>
                    </tr>

                    <tr>
                        <td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>

                        <td><b>1</b></td>

                        <td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>
                    </tr>

                    <tr>
                        <td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>
                        <td class="green"><b>1</b></td>

                        <td><b>(1)0</b></td>

                        <td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>
                    </tr>

                    <tr>
                        <td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>
                        <td class="red"><b>0</b></td>

                        <td><b>1</b></td>

                        <td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>
                    </tr>

                    <tr>
                        <td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>

                        <td><b>(1)0</b></td>

                        <td class="red"><b>1</b></td>
                        <td class="green"><b>1</b></td>
                    </tr>

                    <tr>
                        <td class="green"><b>1</b></td>
                        <td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>

                        <td><b>(1)0</b></td>

                        <td class="green"><b>0</b></td>
                        <td class="red"><b>1</b></td>
                    </tr>

                    <tr>
                        <td class="green"><b>1</b></td>
                        <td class="green"><b>1</b></td>
                        <td class="green"><b>1</b></td>

                        <td><b>(1)1</b></td>

                        <td class="green"><b>1</b></td>
                        <td class="green"><b>1</b></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 centered">
            <img src="/static/img/tut/FA-int.png" class="tut-image" />
            <br /><br />
        </div>

        <div class="col-sm-4 col-sm-offset-1 centered">
            <p>Ovako bi mogla izgledati interna struktura punog zbrajala.</p>
        </div>
    </div>

    <div class="row centered">
        <p class="col-sm-8 col-sm-offset-2">Za kraj, primjer 4-bitnog paralelnog zbrajala. Primjetite, na mjestu prvog i posljednjeg punog zbrajala
         mogli su se naći dva poluzbrajala. Zašto je to tako?</p>

        <div class="col-sm-12 centered">
            <img src="/static/img/tut/par-adder.png" class="tut-image" />
            <br /><br />
        </div>

    </div>

</div>

{% endblock %}