{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="ww" class="container">
    <h3>POLUZBRAJALO</h3>
    <div class="row">

        <div class="col-sm-6 centered">
            <img src="/static/img/gif/ha.gif" class="tut-image" />
            <br /><br />
        </div>

        <div class="col-sm-6 centered">
            <p>Poluzbrajalo (Half Adder – HA) je logički sklop koji na ulazu ima dva signala koji predstavljaju binarne
                znamenke, a na izlazu producira njihov zbroj uz prijenos. Prijenos se dalje propagira i može sudjelovati
                 u operaciji zbrajanja na značajnijem mjestu.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 centered">
            <p>
                Bitno je primjetiti da poluzbrajalo na ulazu ne prima prijenos moguće prethodne opracije zbrajanja.
                 Od tuda poluzbrajalu prefiks "polu-". Tu operaciju obavlja puno zbrajalo o kojem više
                možeš saznati <a href="/tutorial/lesson/FA">ovdje</a>
            </p>
        </div>

        <div class="col-sm-3 col-sm-offset-1">
            <table class="table table-bordered tut-image centered">
                <thead>
                    <tr>
                        <th class="text-center">A
                            <span style="white-space: nowrap;">(prvi broj)</span>
                        </th>
                        <th class="text-center nwrp">B
                            <span style="white-space: nowrap;">(drugi broj)</span>
                        </th>
                        <th class="text-center nwrp">ZBROJ</th>
                        <th class="text-center nwrp">S
                            <span style="white-space: nowrap;">(rezultat)</span>
                        </th>
                        <th class="text-center nwrp">C
                            <span style="white-space: nowrap;">(prijenos)</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="red"><b>0</b></td>
                        <td class="red"><b>0</b></td>

                        <td><b>00</b></td>

                        <td class="red"><b>0</b></td>
                        <td class="red"><b>0</b></td>
                    </tr>

                    <tr>
                        <td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>

                        <td><b>01</b></td>

                        <td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>
                    </tr>

                    <tr>
                        <td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>

                        <td><b>01</b></td>

                        <td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>
                    </tr>

                    <tr>
                        <td class="green"><b>1</b></td>
                        <td class="green"><b>1</b></td>

                        <td><b>10</b></td>

                        <td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 centered">
            <img src="/static/img/tut/ha-int.png" class="tut-image" />
            <br /><br />
        </div>

        <div class="col-sm-4 col-sm-offset-1 centered">
            <p>Naposlijetku, ovako bi mogla izgledati interna struktura poluzbrajala.</p>
        </div>
    </div>

</div>

{% endblock %}