{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="ww" class="container">
    <h3>SKLOPKA</h3>
    <div class="row">

        <div class="col-sm-6 centered">
            <img src="/static/img/gif/in.gif" class="tut-image" />
            <br /><br />
        </div>

        <div class="col-sm-6 centered">
            <p>Sklopka ima izlaz. U simulaciji možemo određivati koji signal
			(<span style="color:red">crveni</span>, <span style="color:green">zeleni</span>)(<span style="color:red">0</span>,
			<span style="color:green">1</span>) želimo klikajući na sklopku</p>
        </div>
    </div>


</div>

{% endblock %}