{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- +++++ Welcome Section +++++ -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <img src="static/img/user.png" alt="" height="150" width="150">
                <h1>Hi, I am Donald!</h1>
                <p>Hello everybody. I'm DONALD, a free handsome bootstrap theme coded by BlackTie.co. A really simple
                    theme for those wanting to MAKE AMERICA GREAT AGAIN!</p>
                <p>Please, consider to register to <a href="http://eepurl.com/IcgkX">our newsletter</a> to be updated
                    with our latest themes and freebies. Like always, you can use this theme in any project freely.
                    Share it with your friends.</p>
            </div><!-- /col-lg-8 -->
        </div><!-- /row -->
    </div> <!-- /container -->

    <!-- +++++ Projects Section +++++ -->

    <div class="container pt">
        <div class="row mt centered">
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="static/img/portfolio/port01.jpg"
                                                              alt=""/></a>
                <p>APE</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="static/img/portfolio/port02.jpg"
                                                              alt=""/></a>
                <p>RAIDERS</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="static/img/portfolio/port03.jpg"
                                                              alt=""/></a>
                <p>VIKINGS</p>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->

{% endblock %}

