{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- +++++ Welcome Section +++++ -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <img src="static/img/owl.png" alt="" height="150" width="150">
                <h1>Bok! Ja sam Sovko.</h1>
                <p>Tu sam da ti pomognem s upoznavanjem funkcionalnosti našeg novog simulatora koji bi ti trebao
                    približiti razumijevanje kako radi velik broj elektroničkih uređaja koji te okružuju.</p>
                <p>Ako ti je ovo prvi put na ovoj stranici, molim te da prođeš kroz brze upute
                    koje se nalaze na <a href="#">ovom</a> linku. Isto tako, ohrabljujem te da obaviš prijavu
                     i tako postaneš u mogućnosti da svoje simulacije spremaš i dijeliš s prijateljima</p>
            </div><!-- /col-lg-8 -->
        </div><!-- /row -->
    </div> <!-- /container -->

    <!-- +++++ Projects Section +++++ -->

    <div class="container pt">
        <div class="row mt centered">
            <div class="col-sm-4">
                <div class="bordered center-img">
                    <a class="zoom green" href="#"><img class="img-responsive" src="static/img/portfolio/tut.jpg"alt=""/></a>
                </div>
                <p>BRZI TUTORIJAL</p>
            </div>
            <div class="col-sm-4">
                <div class="bordered center-img">
                    <a class="zoom green" href="/simulator"><img class="img-responsive" src="static/img/portfolio/sim.png" alt=""/></a>
                </div>
                <p>SIMULATOR</p>
            </div>
            <div class="col-sm-4">
                <div class="bordered center-img">
                    <a class="zoom green" href="#"><img class="img-responsive" src="static/img/portfolio/quiz.png" alt=""/></a>
                </div>
                <p>KVIZOVI</p>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->

{% endblock %}

