{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="ww" class="container">
    <h3>T BISTABIL</h3>
    <div class="row">

        <div class="col-sm-6 centered">
            <img src="/static/img/gif/jkbistabil.gif" class="tut-image" />
            <br /><br />
        </div>

        <div class="col-sm-6 centered">
            <p>JK Bistabil ima 3 ulaza i 2 izlaza. NJegovi signali izlaza ovise o ulazu i definirani su u donjoj tablici.</p>
        </div>
    </div>
	
	

    <div class="row">
        <div class="col-sm-6 centered">
            <p>Kao što su <a href="/tutorial/lesson/DBISTABIL">D bistabil</a> i <a href="/tutorial/lesson/TBISTABIL">T bistabil</a> imali ulaz 
			E, tako JK bistaibl ima Clk ulaz koji se ponaša malo drukčije nego E. Naime kod E ulaza stanje je se mijenjala kada bi E prelazio
			iz 0 u 1, a Clk mijenja stanje bistabila kada prelazi iz 1 u 0
            </p>
        </div>

        <div class="col-sm-3 col-sm-offset-1">
            <table class="table table-bordered tut-image centered">
                <thead>
                    <tr>
                        <th class="text-center">J</th>
						<th class="text-center">K</th>
                        <th class="text-center">Q</th>
                        <th class="text-center">^Q</th>
						
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="red"><b>0</b></td>
                        <td class="red"><b>0</b></td>
						<td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>
                    </tr>

                    <tr>
                        <td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>
						<td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>
                    </tr>
					
					<tr>
                        <td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>
                    </tr>
					
					<tr>
                        <td class="green"><b>1</b></td>
                        <td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>
                    </tr>
					
					

                </tbody>

            </table>
        </div>
    </div>
	

</div>

{% endblock %}