{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="ww" class="container">
    <h3>JK BISTABIL</h3>
    <div class="row">

        <div class="col-sm-6 centered">
            <img src="/static/img/gif/jk_flip_flop.gif" class="tut-image" />
            <br /><br />
        </div>
    </div>
	
	

    <div class="row">
        <div class="col-sm-6 centered">
            <p>JK bistabil ima ponašanje slično SR bistabilu, uz razliku da nema nedopuštenih stanja, odnosno kada su ulazi J i K u stanju 1, bistabil će mijenjati stanje na izlazu u ovinosti o prethodnom stanju (1 -> 0, 0 -> 1). Ukoliko je J u stanju 1, a K u stanju 0, na izlazu će se postaviti stanje 1, a ako je J u stanju 0 i K u stanju 1, na izlazu će se postaviti stanje 1. Inače se stanje ne mijenja. JK bistabil možemo smatrati nekom vrstom univerzalnog bistabila.
            </p>
        </div>

        <div class="col-sm-3 col-sm-offset-1">
            <table class="table table-bordered tut-image centered">
                <thead>
                    <tr>
                        <th class="text-center">J</th>
						<th class="text-center">K</th>
                        <th class="text-center">Q</th>
						
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="red"><b>0</b></td>
                        <td class="red"><b>0</b></td>
						<td><b>Q</b></td>
                    </tr>

                    <tr>
                        <td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>
						<td class="red"><b>0</b></td>
                    </tr>
					
					<tr>
                        <td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>
						<td class="green"><b>1</b></td>
                    </tr>
					
					<tr>
                        <td class="green"><b>1</b></td>
                        <td class="green"><b>1</b></td>
						<td class="upperline"><b>Q</b></td>
                    </tr>
					
					

                </tbody>

            </table>
        </div>
    </div>

    <hr>

    <div class="row">
        <p> 
        Na sljedećoj animaciji možemo vidjeti izvedbu 4 bitnog brojila pomoću JK bistabila.
        </p>
        <img src="/static/img/gif/counter.gif" class="tut-image" />
    </div>


</div>

{% endblock %}