{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="ww" class="container">
    <h3>MULTIPLEKSER</h3>
    <div class="row">

        <div class="col-sm-6 centered">
            <img src="/static/img/gif/multipleksor.gif" class="tut-image" />
            <br /><br />
			<div >
            <p> Multiplekser ima 4+2 ulaza i 1 izlaz. Njegov izlaz ovisi o ulazima i definiran je na tablici desno.
				Logika multipleksera je da njegova 2 ulaza koja su na na njegovoj donjoj strani definiraju
				jedan od 4 ulaza koji su na njegovoj lijevoj bočnoj strani. Na slici gore se vidi kako je ulaz na multipleksorovoj
				bočnoj lijevoj strani 1 0 1 0. Ti ulazi mogu biti bilo koji, ali su odabrani takvi da se vidi kako se s promjenom donjih ulaza
				mijenja izlaz.
            </p>
			
			
        
        </div>
        </div>
		
		
        <div class="col-sm-3 col-sm-offset-1">
            <table class="table table-bordered tut-image centered">
					<thead>
						<tr>
							<th class="text-center">I0</th>
							<th class="text-center">I1</th>
							<th class="text-center">I2</th>
							<th class="text-center">I3</th>
							<th class="text-center">S0</th>
							<th class="text-center">S1</th>
							<th class="text-center">izlaz</th>						
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="red"><b>0</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						<tr>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
							<td class="green"><b>1</b></td>
						</tr>
						
						
						
						
						
						
						

					</tbody>

				</table>
        </div>		
    </div>


</div>

{% endblock %}