{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="ww" class="container">
    <h3>SKLOPKA</h3>
    <div class="row">

        <div class="col-sm-6 centered">
            <img src="/static/img/gif/in.gif" class="tut-image" />
            <br /><br />
        </div>

        <div class="col-sm-6 centered">
            <p>Lampica ima ulaz. Ona svoj ulaz prikazuje prema van. Lampica radi isto ono što bi i trebala raditi u realnom svijetu.
			Kada vi kliknete na prekidač neke lampe onda će lampa svijetiti ili će biti ugašena. U našem simulatoru zeleno svijetlo 
			znači "svijetli", dok crveno znači "ne svijetli". 
        </div>
    </div>


</div>

{% endblock %}