{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="col-xs-12">
        <br /><br/>
    <div class="row well">
        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-4 col-xs-6">
                <span>ULAZ/IZLAZ</span>
                <div class="btn-container centered">
                    <div style="padding: 5px">
                        <a id="INPUT-SIGNAL">
                            <img src="/static/img/tut/in.png" title="Izvor signala" class="gate-btn" width="70"/>
                        </a>
                        <a id="OUTPUT-SIGNAL">
                            <img src="/static/img/tut/out.png" title="Lampica" class="gate-btn" width="70"/>
                        </a>

                        <a id="CLOCK">
                            <img src="/static/img/tut/clock.png" title="Izvor takta" class="gate-btn" width="70"/>
                        </a>
                        <a id="7-SEG-DISPLAY">
                            <img src="/static/img/tut/7seg.png" title="7-segmentni LCD" class="gate-btn" width="70"/>
                        </a>
                    </div>
                </div>
                <hr/>
            </div>

            <div class="col-md-12 col-sm-4 col-xs-6">
                <span>JEDNOSTAVNI SKLOPOVI</span>
                <div class="btn-container centered">
                    <div style="padding: 5px">
                        <a id="AND-GATE">
                            <img src="/static/img/tut/and.png" title="I sklop" class="gate-btn" width="70"/>
                        </a>
                        <a id="OR-GATE">
                            <img src="/static/img/tut/or.png" title="ILI sklop" class="gate-btn" width="70"/>
                        </a>
                        <a id="NOT-GATE">
                            <img src="/static/img/tut/not.png" title="Inverter" class="gate-btn" width="70"/>
                        </a>
                        <a id="NAND-GATE">
                            <img src="/static/img/tut/nand.png" title="NI sklop" class="gate-btn" width="70"/>
                        </a>
                        <a id="NOR-GATE">
                            <img src="/static/img/tut/nor.png" title="NILI sklop" class="gate-btn" width="70"/>
                        </a>
                        <a id="XOR-GATE">
                            <img src="/static/img/tut/xor.png" title="XOR sklop" class="gate-btn" width="70"/>
                        </a>
                    </div>
                </div>
                <hr/>
            </div>


            <div class="col-md-12 col-sm-4 col-xs-6">
                <span>SLOŽENI SKLOPOVI</span>
                <div class="btn-container centered">
                    <div style="padding: 5px">
                        <a id="CUSTOM-GATE">
                        </a>
                        <a id="HALF-ADDER">
                            <img src="/static/img/tut/ha.png" title="Poluzbrajalo" class="gate-btn" width="70"/>
                        </a>
                        <a id="HALF-SUBTRACTOR">
                            <img src="/static/img/tut/hs.png" title="Poluoduzimalo" class="gate-btn" width="70"/>
                        </a>
                        <a id="FULL-ADDER">
                            <img src="/static/img/tut/fa.png" title="Puno zbrajalo" class="gate-btn" width="70"/>
                        </a>
                        <a id="FULL-SUBTRACTOR">
                            <img src="/static/img/tut/fs.png" title="Puno oduzimalo" class="gate-btn" width="70""/>
                        </a>
                        <a id="BCD-TO-7-SEG">
                            <img src="/static/img/tut/bcd.png" title="BCD u 7-seg pretvarać" class="gate-btn" width="70"/>
                        </a>
                        <a id="COUNTER">
                            <img src="/static/img/tut/cntr.png" title="Brojač" class="gate-btn" width="70"/>
                        </a>
                        <a id="MUX">
                            <img src="/static/img/tut/mux.png" title="Multiplekser" class="gate-btn" width="70"/>
                        </a>
                        <a id="DEMUX">
                            <img src="/static/img/tut/demux.png" title="Demultiplekser" class="gate-btn" width="70"/>
                        </a>
                    </div>
                </div>
                <hr/>
            </div>


            <div class="col-md-12 col-sm-12 col-xs-6">
                <br/>
                <!--<a id="MOUSE-POINTER">
                    <img src="{% static 'img/btn-img/cursor.png' %}" title="Pokazivač" class="cursor" width="20" height="20"/>
                </a>-->
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <a id="CLEAR" class="btn btn-warning btn-xs col-xs-offset-1" style="margin:5px">OČISTI</a>
                    <!--<a id="CLEAR-WIRE" class="btn btn-primary btn-xs">OBRIŠI ŽICU</a>-->
                    <a id="DELETE-WIRE-MODE" class="btn btn-warning btn-xs col-xs-offset-1" style="margin:5px">BRIŠI ŽICE</a>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <a id="SIMULATION" class="btn btn-md btn-danger"style="margin:5px"><span id="SIM-ICON" class="glyphicon glyphicon-play"></span>&nbsp;Pokreni</a>
                </div>
                <!--<div class="row"><span>Podesi veličinu prozora:</span> <div id="SLIDER"></div></div>-->
            </div>
        </div>

        <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
            <div id="canvas-holder"></div>
        </div>

    </div>

    <script src="{% static 'js/Simulator/libraries/p5.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/libraries/p5.dom.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/libraries/p5.sound.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/sketch.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/simulate.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/andGate.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/nandGate.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/orGate.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/xorGate.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/norGate.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/halfAdderGate.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/fullAdderGate.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/halfSubtractor.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/fullSubtractor.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/sevenSegDisplay.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/bcdToSevenSeg.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/counter.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/mux.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/demux.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/customGate.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/clock.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/buttons/closeButton.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/buttons/inButton.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/buttons/outButton.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/buttons/statusButton.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/inSignal.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/outSignal.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/notGate.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/srLatch.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/wire.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/point.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/buttons/branchButton.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/sevenSegDisplay.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Simulator/gates/bcdToSevenSeg.js' %}" type="text/javascript"></script>

    <link rel="stylesheet" href="{% static 'js/Simulator/style.css' %}">

     <script>
         $('body').on('contextmenu', '#canvas-holder', function(e){
            if(currentWire !== null)
                clearCurrentWire();
            else {
                clearCurrentGate();
            }
            deleteWireMode = 0;
            adjustColor()
            return false;
         });

         $('.btn-container').on( 'mousewheel DOMMouseScroll', function (e) {
            var e0 = e.originalEvent;
            var delta = e0.wheelDelta || -e0.detail;

            this.scrollTop += ( delta < 0 ? 1 : -1 ) * 30;
            e.preventDefault();
          });


     </script>
    </div>
{% endblock %}