{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="ww" class="container">
    <h3>"XILI" VRATA</h3>
    <div class="row">

        <div class="col-sm-6 centered">
            <img src="/static/img/gif/nor.gif" class="tut-image" />
            <br /><br />
        </div>

        <div class="col-sm-6 centered">
            <p>XILI (XOR) logička vrata sadržavaju dva ulaza i jedan izlaz. U simulatoru koristit ćemo
             XILI vrata s dva ulaza. Njegov izlaz u ovisnosti o ulazima strogo je definiran te se nalazi u sljedećoj tablici.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 centered">
            <p>XILI vrata su malo složenija vrata. Logika ovih vrata je da vraća zeleno svjetlo
			onda kada je samo jedan od ulaza zelen. Kako bi lakše zapamtio ovaj sklop zamisli 
			sljedeći scenarij: na jednoj polici imaš lijek za želučane probleme,a na drugoj polici
			se nalazi prava domaća rakija. Ukoliko bi dobio neku želučanu virozu upotrijebit ćeš jedno
			od tog dvoje u normalnoj količini. Kada bi uzeo oboje, tvoj život bi vrlo vjerojatno postao prekratak,
			a ukoliko ne bi ništa uzeo tvoja viroza bi postala još duža. Zato si za svaki slučaj zapiši što ćeš uzimati,
			kako bi to znali i tvoji ukućani.Na slici ispod su prikazana XILI vrata sa jednostavnim sklopovima.
            </p>
        </div>

        <div class="col-sm-3 col-sm-offset-1">
            <table class="table table-bordered tut-image centered">
                <thead>
                    <tr>
                        <th class="text-center">A</th>
                        <th class="text-center">B</th>
                        <th class="text-center">IZLAZ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="red"><b>0</b></td>
                        <td class="red"><b>0</b></td>

                        <td class="red"><b>0</b></td>
                    </tr>

                    <tr>
                        <td class="red"><b>0</b></td>
                        <td class="green"><b>1</b></td>

                        <td class="green"><b>1</b></td>
                    </tr>

                    <tr>
                        <td class="green"><b>1</b></td>
                        <td class="red"><b>0</b></td>

                        <td class="green"><b>1</b></td>
                    </tr>

                    <tr>
                        <td class="green"><b>1</b></td>
                        <td class="green"><b>1</b></td>

                        <td class="red"><b>0</b></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
	
	<div class= "row">
		
		<div class="col-sm-6 centered">
            <img src="/static/img/tut/xili_izvod.png" class="tut-image" />
            <br /><br />
        </div>
		
			
	</div>

</div>

{% endblock %}