.closeButton {
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 5px 0px;
}

.sigButton {
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid #AEAEAE;
    background: blue;
    width: 14px;
    height: 14px;
}

.branchButton {
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid #AEAEAE;
    background: blue;
    width: 14px;
    height: 14px;
}

.statButton {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #AEAEAE;
    background: red;
    width: 20px;
    height: 20px;
}

.gate-btn {
    cursor: pointer;
    border: 1px solid black;
}

.cursor {
    cursor: pointer;
}

.btn-container {
    height: 100px;
    width : 200px;
    overflow-y: scroll;
    border : 2px solid #1abc9c;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    /*background: transparent;  /* optional: just make scrollbar invisible */
}